* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: beige;
    position: relative;
}

body,
.word-display,
.word-input {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    position: relative;
    /* background-color: #ffe4c4; */
    padding: 1rem;
    border-radius: .5rem;
    width: 700px;
    max-width: 90%;
    top: 4rem;
}

.timer {
    position: absolute;
    top: 2rem;
    font-size: 3rem;
    color: brown;
    font-weight: bold;
}

.word-display {
    margin-bottom: 1rem;
    margin-left: calc(1rem + 2px);
    margin-right: calc(1rem + 2px);
    width: 650px;
    border: 0ch;
    border-style: solid;
    padding: 0.64rem 0rem;
    font-size: 2rem;
    display: block;
}

.word-input {
    background-color: transparent;
    border: 2px solid #a1922e;
    outline: none;
    width: 100%;
    height: 8rem;
    margin: auto;
    resize: none;
    padding: .5rem 1rem;
    font-size: 2rem;
    border-radius: .5rem;
    position: relative;
    z-index: 0;
    display: block;
}

.word-input:focus {
    border-color: black;
}

.word-input::placeholder{
    color: #38240c;
    font-size: 15px;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
    text-decoration: underline;
}


.result-display {
    background-color: transparent;
    border: 2px solid #a1922e;
    outline: none;
    width: 100%;
    height: 8.15rem;
    margin: auto;
    resize: none;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .5rem;
    color: black;
    position: relative;
    z-index: 0;
    display: none;
}


#restartBtn {
    border-radius: var(--roundness);
    color: var(--sub-color);
    cursor: pointer;
    padding: 1rem 2rem;
    transition: .125s;
    width: min-content;

}

#restartBtn:hover {
    font-weight: bold;
    background-color: beige;
}
/*Practice Setting*/
.practiceSetting{
    position: absolute;
    display: flex;
    top: 6rem;
}

/* Time Select */
.timerContainer {
    position: relative;
    left: 45%;
}
.selectTime{
    position: relative;
    text-align: center;
    float: left;
    font-size: 20px;
    left: -30%;
}

.timerTimes {
    position: relative;
    text-align: center;
}

.timerTime {
    position: relative;
    font-size: 20px;
    line-height: 2rem;
    padding: 0.2em 0.3em;
    float: left;
    left: -30%;
}



.timerTime input[name=timer] {
    vertical-align: middle;
    appearance: none;
}

.timerTime:hover {
    background-color: #ffe4c4;
    border-radius: 0.5rem;
}

/* Time Select */
/* Mode Select */
a,
a:visited {
    text-decoration: none;
    color: #00ae68;
}

a.button {
    display: block;
    position: relative;
    float: left;
    top: 5rem;
    width: 120px;
    padding: 0;
    margin: 10px 20px 10px 0;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    color: #FFF;
    border-radius: 5px;
    transition: all 0.2s;
    left: -20%;
}

.btnRandom {
    background: #00ae68;
}

.btnRecommend {
    background: #5dc8cd;
}

.modeContainer {
    padding-top: 1em;
    margin-top: 1em;
    border-top: solid 1px #ccc;
}

.btnRandom.btnPush {
    box-shadow: 0px 5px 0px 0px #007144;
}

.btnRecommend.btnPush {
    box-shadow: 0px 5px 0px 0px #1e8185;
}

.btnPush:hover {
    margin-top: 15px;
    margin-bottom: 5px;
}

.btnRandom.btnPush:hover {
    box-shadow: 0px 0px 0px 0px #007144;
}

.btnRecommend.btnPush:hover {
    box-shadow: 0px 0px 0px 0px #1e8185;
}

/* Mode Select */

/*worst word display*/
.worst-word-display{
    font-size: 30px;
    text-align: center;
}