<!DOCTYPE html>
<html lang="ko">
<head>
    <meta name="description" content="provide customized typing practice">
    <meta charset="UTF-8">
    <title>
        Typing Practice Program
    </title>
</head>

<body>
  Typing Practice Program
</body>
</html>