<!DOCTYPE html>
<html lang="ko">
<head>
<<<<<<< HEAD
    <meta name="description" content="provide customized typing practice">
    <meta charset="UTF-8">
    <title>
        Typing Practice Program
    </title>
</head>

<body>
  Typing Practice Program
=======
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    여기는 루트입니다.
>>>>>>> 7dcbefe48ecb63333c30afaea5c5c4ff34074ab3
</body>
</html>