<!DOCTYPE html>
<html lang="ko">
<head>
<<<<<<< HEAD
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <script src="/js/home/register.js" defer></script>
  <title>Document</title>
</head>
<body>
  <input id="wpm" type="text"><br>
  <input id="errCnt" type="text"><br>
  <input id="alphabetTimeTable" type="text"><br>
  <button>register</button>
</body>
</html>
=======
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/home/login.css">
    <script src="/js/home/register.js" defer></script>
    <title>Document</title>
</head>
<body>
  <div class="login-page">
    <div class="form">
      <form class="login-form">
        <input id="id" type="text" placeholder="아이디"/>
        <input id="name" type="text" placeholder="이름"/>
        <input id="psword" type="password" placeholder="비밀번호"/>
        <input id="confirm-psword" type="password" placeholder="비밀번호 확인"/>
        <p id="button">SIGN UP</p>
        <p class="message">Already registered? <a href="/login">login</a></p>
      </form>
    </div>
  </div>
</body>
</html>

<!-- Copyright (c) 2022 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy) -->
>>>>>>> 7dcbefe48ecb63333c30afaea5c5c4ff34074ab3
