<!-- <!DOCTYPE html>
<html>
<head>
    <meta name="description" content="provide customized typing practice">
    <meta charset="UTF-8">
    <link rel="restartImg" sizes="57x57" href="img/restart_icon.png">
    <link rel="stylesheet" href="/js/home/tps.css">
    <script type="module" src="/js/home/tps.js" defer></script>
    <title>
        Typing Practice Program
    </title>
</head> -->

<body>
    <!-- <div class="timer" id="timer"></div>
    <div class="timerTimes"><h3>select practice time</h3>
        <div><label class="timerTime"><input type="radio" name="timer" value="6" ><span>6</span></label></div>
        <div><label class="timerTime"><input type="radio" name="timer" value="30" checked><span>30</span></label></div>
        <div><label class="timerTime"><input type="radio" name="timer" value="60" ><span>60</span></label></div>
    </div> -->
    <!-- <div class="container">
        <div class="word-display" id="wordDisplay"></div>
        <div class="result-display" id="resultDisplay"></div>
        <div class="wpm" id="wpm"></div>
        <div class="errCnt" id="errCnt"></div>
        <div class="alphabetTimeTable" id="alphabetTimeTable"></div>
        <input  class= "word-input" id="wordInput" spellcheck="false"  autofocus>
        <button id="restartBtn" aria-label="Restart Practice" data-ballon-pos="down" 
        class tabindex="0" >restart</button>
    </div> -->
</body>
</html>


<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/js/home/tps.js" defer></script>
  <title>Document</title>
</head>
<body>
  <input id="wpm" type="text"><br>
  <input id="errCnt" type="text"><br>
  <input id="alphabetTimeTable" type="text"><br>
  <button>test</button>
</body>
</html>
